<!DOCTYPE html>
<head>
	<title>Cloud Castle</title>
</head>
<body  onload="startTime(); getCookie();">
<div class="container-fuid m-0 p-0">
	<div class="container-fuid m-0 sidenav bg-light p-3">
		<div class="headerfont">
			<a class="headerfont logo_link" href="/">
				<img class="img-fluid logo m-1" src="/assets/icons8-castle-64.png">
			</a>
			<span class="m-0 p-0 align-bottom text-dark"><b>Cloud Castle</b></span>
		</div>
		<hr class="darkModeHRLogo">
		<br>
		<center>
			<a href="/admins/adminDashboard"><button type="button" class="btn align-text-top btn-link w-75 headerfont" data-toggle="modal" data-target="#exampleModalPreview">Home</button></a><hr>
			<a href="/uploadFile/dashboard"><button type="button" class="btn align-text-top btn-link w-75 headerfont" data-toggle="modal" data-target="#exampleModalPreview">Switch to User</button></a><hr>
			<button id="modalActivateNewUserModal" type="button" class="btn align-text-top btn-link w-75 headerfont" data-toggle="modal" data-target="#createNewUserModal">Create new User</button><hr>
			<button id="demoUserCreateBtn" type="button" class="btn align-text-top btn-link w-75 headerfont" onclick="document.getElementById('demoUserSubmitBtn').click()">Create demo User</button><hr>
			<!-- <button id="modalActivate" type="button" class="btn align-text-top btn-link w-75 headerfont">Remove all Users</button><hr> -->
			<a href="/admins/adminShowUserDetails"><button type="button" class="btn align-text-top btn-link w-75 headerfont">Show Users Details</button></a><hr>
			<a href="/admins/applicationDetails"><button type="button" class="btn align-text-top btn-link w-75 headerfont" >Show Application Details</button></a><hr>
			<a href="/admins/helpMessages"><button id="modalActivate" type="button" class="btn align-text-top btn-link w-75 headerfont">Show Help Messages</button></a>
		</center>

		<div class="logoutsection fixed-bottom align-text-top">
		<hr class="my-0 darkModeHR">
        	<a href="/users/logout" id="logoutBtn" class="btn btn-link w-100 h-100 p-3 headerfont header_main text-dark">Logout</a>
		</div>
	</div>



	<!--Right Sidebar-->
		<%- include('../views/partials/_adminToDoList.ejs') %>
	<!--End of Right Sidebar-->

	
<!-- Modal -->
<!-- New user Modal -->
<div class="modal fade" id="createNewUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content p-4 blur-bg">
		<div class="modal-header border-0">
		  <span class="modal-title headerfont header_main text-dark" id="exampleModalPreviewLabel">Create New User
			  <br>
			  <span class="parafont header_secondary">Having problems? Contact Support.</span>
		  </span>
		  <button type="button" class="close p-0 text-dark" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body border-0">
			<form action="/admins/adminRegister" method="POST" enctype="multipart/form-data">
				<div class="card-group">
					<div class="form-group card-body mb-0">
					  <label for="firstname">First Name: <span class="text-primary">*</span></label>
					  <input class="form-control" type="text" placeholder="enter your firstname" id="firstname" name="firstname">
					</div>
					<div class="form-group card-body mb-0">
					  <label for="lastname">Last Name: <span class="text-primary">*</span></label>
					  <input class="form-control" type="text" placeholder="enter your lastname" id="lastname" name="lastname" >
					</div>
				  </div>
				  <div class="card-group">
					<div class="form-group card-body mb-0">
					  <label for="lastname">Phone: </label>
					  <input class="form-control" type="number" pattern="[9-8]{2}[9-0]{8}" placeholder="mobile number.." id="phone" name="phone">
					</div>
					<div class="form-group card-body mb-0">
					  <label for="lastname">Company: </label>
					  <input class="form-control" type="text" placeholder="enter company name.." id="company" name="company">
					</div>
				  </div>
				  <!--  Profile Pic Upload  -->
				  <div class="card-group">
					<div class="form-group card-body pt-0 mb-0">
					  <label>Profile Image: <span class="text-primary">*</span></label>
					  <div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile" name="profilePic" required>
						<label class="form-control custom-file-label" for="customFile">Choose file</label>
						<script>
						$(".custom-file-input").on("change", function() {
						  var fileName = $(this).val().split("\\").pop();
						  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
						});
						</script>
					  </div>
					</div>
				  </div>
				  <div class="card-group">
					<div class="form-group card-body mb-0">
					  <label for="lastname">City: </label>
					  <input class="form-control" type="text" placeholder="City  "  id="city" name="city">
					</div>
					<div class="form-group card-body mb-0">
					  <label for="lastname">State/County: </label>
					  <input class="form-control" type="text" placeholder="State/County  " id="state" name="state">
					</div>
				  </div>
				  <div class="card-group">
					<div class="form-group card-body mb-0">
					  <label for="lastname">Postcode: </label>
					  <input class="form-control" type="number" placeholder="Postcode  " id="postcode" name="postcode">
					</div>
					<div class="form-group card-body mb-0">
					  <label for="lastname">Country: </label>
					  <input class="form-control" type="text" placeholder="Country  " id="country" name="country">
					</div>
				  </div>
				  <div class="card-group">
					<div class="form-group card-body pt-0 mb-0">
					  <label for="email">Email: <span class="text-primary">*</span></label>
					  <div class="input-group m-0">
						<input class="form-control" type="email" placeholder="Email" id="email" name="email" onfocusout="checkEmail()">
						<div class="input-group-append">
						  <span class="input-group-text">@example.com</span>
						</div>
					  </div>
					</div>
				</div>
				<small id="jsEmailErrorMessage" class="form-text form-group card-body py-0 my-0 text-danger">
				</small>
				  <div class="card-group">
					<div class="form-group card-body mb-0 w-50 pb-1">
					  <label for="password">Password: <span class="text-primary">*</span></label>
					  <input class="form-control" type="password" placeholder="Create password" id="password" name="password" value=""  aria-describedby="passwordHelpBlock">
					</div>
					<div class="form-group card-body mb-0 pb-1">
					  <br>
					  <input class="form-control mt-2" type="password" placeholder="Confirm" name="password_2" value="" >
					</div>
					<small id="passwordHelpBlock" class="form-text text-muted form-group card-body pt-0 ">
					  Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
					</small>
				  </div>
				  <br>
				  <div class="form-group float-right">
					  <input class="btn" type="reset" name="reset" value="Clear all">
					  <button class="btn btn-primary" type="submit">Create account</button>
				  </div>
			  </form>
			</div>
			<br><br>
	  </form>
	  <script type="application/javascript">
		  $('input[type="file"]').change(function(e){
		  var fileName = e.target.files[0].name;
		  $('.custom-file-label').html(fileName);
		});
	  </script>
  </div>
  <div class="modal-footer border-0">      
  </div>
  </div>
  </div>
  </div>
  <!-- End of new user modal -->
		  <!-- Modal End-->

		  <!-- DEMO USER FORM -->
			<form action="/admins/adminDemoRegister" method="POST" enctype="multipart/form-data" style="display: none;">
			  	<button id="demoUserSubmitBtn" type="submit"></button>
			</form>
		  <!-- END OF DEMO USER FORM -->

<div class="container-fuid main-body">
	<div class="container-fuid header_main sticky-top ml-3 py-2">
		<form action="/uploadFile/dashboard" method="GET">
			<div class="input-group">
	        	<button class="input-group-prepend input-group-text border-0 bg-light"><i class="fas fa-search "></i></button>
                <input class="form-control parafont bg-light border-0 searchbar" type="text" placeholder="Search for something" name="orignalFileName" value="<%= searchOptions.orignalFileName %>">
            	<span class="input-group-append input-group-text p-0 border-0 bg-light headerfont">
					<span class="ml-2 header_main"><%= firstname + '  ' + lastname %></span>
					<a href="/users/profile/edit"><img class="rounded-circle ml-2 mr-2 profile_pic" src="<%= profilePicPath %>" alt="pic"></a>
					<div class="dropdown"><button class="dropdown-toggles fa fa-ellipsis-v header_main fileControlBtn form-control pl-1 py-0 bg-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu dropdown-menu-right parafont nav-menu w-auto blur-bg">
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" href="/users/profile">Profile</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" href="/users/profile/edit">Edit Profile</a>
							<a class="dropdown-item pt-2 mx-3 w-auto disabled href="#">Edit Work Availability</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" href="/users/uploads">My Uploads</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" href="/users/settings">Account Settings</a>
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" href="/admins/help">Help Messages</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item pt-2 mx-3 w-auto form-control text-dark darkModeDropdownItem" onclick="document.getElementById('logoutBtn').click()">Sign Out</a>
						</div>
					</div>				
				</span>
            </div>
		</form>
	</div>

	<!--Hero header of page-->
	<div class="container w-75 mx-0 sticky-top hero-header">
		<div class="px-3 py-1 bg-light">
			<b class="headerfont header_main">Application Details</b>
			<br>
			<span class="parafont header_main secondary-size">All application details are shown here.</span>
		</div>
	</div>
	<!--End of hero header-->
	<br>


	<div class="container w-75 m-0">
		<div class="align-middle mt-4">
			<div class="card-deck mx-3">
				<div class="card border-0">
					<div class="card-body dashboardHeroBtn">
						<h5 class="card-title">Creator</h5><br>
						<p class="card-text mx-2">reuben.milag@gmail.com</p><br>
				  	</div>
				</div>
				<div class="card border-0">
					<div class="card-body dashboardHeroBtn">
						<h5 class="card-title">Creation Date</h5><br>
						<p class="card-text mx-2">12<sup>th</sup> Dec, 2019</p><br>
				  	</div>
				</div>
			</div>
			<br>
			<br>
			<div class="card-deck mx-3">
				<div class="card border-0">
				  	<div class="card-body dashboardHeroBtn">
						<h5 class="card-title">Company</h5><br>
                        <p class="card-text mx-2">Cloud Castle</span></p><br>
					</div>
				</div>
				<div class="card border-0">
				  	<div class="card-body dashboardHeroBtn">
						<h5 class="card-title">Server Uptime</h5><br>
                        <p class="card-text mx-2">Time:&nbsp; <span id="serverstarttime"></span></p><br>
					</div>
					<script>
						today = '<%= serverUptime %>';
						function startTime() {
							today++
							var h = Math.floor(today / (60*60));
							var m = Math.floor(today % (60*60) / 60);
							var s =  Math.floor(today % 60);
							m = checkTime(m);
							s = checkTime(s);
							document.getElementById('serverstarttime').innerHTML =
							h + ":" + m + ":" + s;
							var t = setTimeout(startTime, 1000);
						}
						function checkTime(i) {
							if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
							return i;
						}
					</script>
				</div>
			</div>
			<br>
			<br>
		</div>
	</div>
</div>

<!-- </div> -->
	<script>
		$(function () {
  			$('[data-toggle="popover"]').popover()
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>